<!-- <h1>Basic of Reactive Forms</h1> -->

<!-- <form action="" method="post">
  <input type="text" [formControl]="name" placeholder="Enter your name" />
  <br />
  <br />
  <input
    type="text"
    [formControl]="password"
    placeholder="Enter your password"
  />
  <br />
  <br />
  <button type="button" (click)="displayValues()">Login</button>
  <h3>Name: {{ name.value }}</h3>
  <h3>Password: {{ password.value }}</h3>
</form> -->

<h1>Form Grouping in Reactive Forms</h1>

<form [formGroup]="profileForm" (ngSubmit)="submitData()">
  <input type="text" placeholder="enter name" formControlName="name" />
  <span *ngIf="name?.hasError('required')">This is Required field</span>
  <span class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    >Please enter valid name</span
  >
  <br /><br />
  <input type="text" placeholder="enter password" formControlName="password" />
  <span *ngIf="password?.hasError('required')">This is Required field</span>
  <span
    class="error"
    *ngIf="password?.invalid && (password?.dirty || password?.touched)"
    >Please enter valid password</span
  >

  <br /><br />
  <input type="text" placeholder="enter email" formControlName="email" />
  <span *ngIf="email?.hasError('required')">This is Required field</span>
  <span class="error" *ngIf="email?.invalid && (email?.dirty || email?.touched)"
    >Please enter valid email</span
  >

  <br /><br />
  <button>Submit</button>
</form>
