<!-- <h1>Basic of Reactive Forms</h1> -->

<!-- <form action="" method="post">
  <input type="text" [formControl]="name" placeholder="Enter your name" />
  <br />
  <br />
  <input
    type="text"
    [formControl]="password"
    placeholder="Enter your password"
  />
  <br />
  <br />
  <button type="button" (click)="displayValues()">Login</button>
  <h3>Name: {{ name.value }}</h3>
  <h3>Password: {{ password.value }}</h3>
</form> -->

<h2>FormGroup</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Enter your name" formControlName="name" />
  <br />
  <input type="text" placeholder="Enter your emails" formControlName="email" />
  <br />
  <input
    type="text"
    placeholder="Enter your password"
    formControlName="password"
  />
  <br />
  <button>Login</button>
  <button type="button" (click)="setValues()">Set Values</button>
</form>

<h1>{{ profileForm.value.name }}</h1>

<h1>{{ profileForm.value.email }}</h1>

<h1>{{ profileForm.value.password }}</h1>
