<!-- <h1>If Else | Control workflow</h1>

<button (click)="display = !display">Toggle</button>

@if (display) {
  <div style="width: 200px; height: 200px; background-color: green"></div>
}

<hr />
<button (click)="toggleDiv = !toggleDiv">Toggle Two Divs</button>

@if (toggleDiv) {
  <div style="background-color: gold; width: 200px; height: 200px"></div>
} @else {
  <div style="background-color: red; width: 200px; height: 200px"></div>
} -->

<h1>If Else | Control workflow</h1>
<button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">blue</button>
<button (click)="handleColor(3)">green</button>
<button (click)="handleColor(4)">Other</button>
<input type="text" placeholder="Enter a color" (input)="handleInput($event)" />
@if (color == 1) {
  <div style="background-color: red; width: 100px; height: 100px"></div>
} @else if (color == 2) {
  <div style="background-color: blue; width: 100px; height: 100px"></div>
} @else if (color == 3) {
  <div style="background-color: green; width: 100px; height: 100px"></div>
} @else {
  <div style="background-color: black; width: 100px; height: 100px"></div>
}
