<h2>Template Driven Forms</h2>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm)">
  <input type="text" name="name" placeholder="Name" ngModel />
  <br /><br />

  <input type="password" name="password" placeholder="Password" ngModel />
  <br /><br />

  <select name="gender" ngModel>
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br /><br />

  <input type="range" min="0" max="20" name="age" ngModel />
  <br /><br />

  <button type="submit">Submit</button>
</form>

<hr />

<h3>Name: {{ userDetails?.name }}</h3>
<h3>Password: {{ userDetails?.password }}</h3>
<h3>Gender: {{ userDetails?.gender }}</h3>
<h3>Age: {{ userDetails?.age }}</h3>
