<h2>Template Driven Forms</h2>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm)">
  <input
    #name="ngModel"
    type="text"
    required
    name="name"
    placeholder="Name"
    ngModel
  />
  <span class="error" *ngIf="name.invalid && name.touched"
    >Name is required</span
  >
  <br /><br />

  <input
    #password="ngModel"
    type="password"
    minlength="6"
    maxLength="18"
    name="password"
    required
    placeholder="Password"
    ngModel
  />
  <span class="error" *ngIf="password.invalid && password.touched"
    >Please enter a valid password</span
  >
  <br /><br />

  <select #gender="ngModel" name="gender" ngModel>
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br /><br />

  <input #age="ngModel" type="range" min="0" max="20" name="age" ngModel />
  <br /><br />

  <button [disabled]="userForm.invalid">Submit</button>
</form>

<hr />

<h3>Name: {{ userDetails?.name }}</h3>
<h3>Password: {{ userDetails?.password }}</h3>
<h3>Gender: {{ userDetails?.gender }}</h3>
<h3>Age: {{ userDetails?.age }}</h3>
